/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/

@media (min-width: 992px) {

	.menu-link {
		font-weight: 200; !important
	}
	.container, .container-sm, .container-md, .container-lg {
		max-width: 90%; !important
	}
}

/* @media (min-width: 1440px) {

	.container, .container-sm, .container-md, .container-lg {
		max-width: 80%; !important
	}
} */

.menu-link {
	font-weight: 200; !important
}

::selection {
	background: #4884f3;
	color: #FFF;
	text-shadow: none;
}

::-moz-selection {
	background: #4884f3; /* Firefox */
	color: #FFF;
	text-shadow: none;
}

::-webkit-selection {
	background: #4884f3; /* Safari */
	color: #FFF;
	text-shadow: none;
}


.font-weight-light {
	font-weight: 200 !important;
}

@media (max-width: 1200px) {
	.display-1 {
		font-size: calc( 1.675rem + 5.1vw );
	}
	.display-2 {
		font-size: calc( 1.575rem + 3.9vw );
	}
	.display-3 {
		font-size: calc( 1.475rem + 2.7vw );
	}
	.display-4 {
		font-size: calc( 1.475rem + 2.7vw );
	}
}

.text-white-70 {
	color: rgba(255, 255, 255, 0.7) !important;
}

h1 > span:not(.nocolor):not(.badge),
h2 > span:not(.nocolor):not(.badge),
h3 > span:not(.nocolor):not(.badge),
h4 > span:not(.nocolor):not(.badge),
h5 > span:not(.nocolor):not(.badge),
h6 > span:not(.nocolor):not(.badge) { color: #ffffff; }

a {
	text-decoration: none !important;
	color: #4884f3;
}



.grayscale {
	filter: brightness(60%) grayscale(1) contrast(90%);
	-webkit-filter: brightness(60%) grayscale(1) contrast(90%);
	-moz-filter: brightness(60%) grayscale(1) contrast(90%);
	-o-filter: brightness(60%) grayscale(1) contrast(90%);
	-ms-filter: brightness(60%) grayscale(1) contrast(90%);
	transition: 0.5s filter ease;
	-webkit-transition: 0.5s -webkit-filter ease;
	-moz-transition: 0.5s -moz-filter ease;
	-ms-transition: 0.5s -ms-filter ease;
	-o-transition: 0.5s -o-filter ease;
}

.grayscale:hover {
	filter: brightness(100%) grayscale(0);
	-webkit-filter: brightness(100%) grayscale(0);
	-moz-filter: brightness(100%) grayscale(0);
	-o-filter: brightness(100%) grayscale(0);
	-ms-filter: brightness(100%) grayscale(0);
}


.button {
	background-color: #1ABC9C;
}

@media (min-width: 1200px) {
	.card-columns {
		column-count: 4;
	}
}

@media (max-width: 992px) {
	.card-columns {
		column-count: 2;
	}
}

@media (max-width: 550px) {
	.card-columns {
		column-count: 1;
	}
}

.team-desc {
	position: relative;
	left: 0;
	bottom: 50px; 
	width: 100%;
	text-align: left;
	transition: transform .2s ease-out;
	height: 100px;
}

.team-image::after {
	position: absolute;
	display: block;
	content: '';
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,1));
	background: -o-linear-gradient(to bottom, rgba(0,0,0,0),  rgba(0,0,0,0),rgba(0,0,0,1));
	background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,1));
}
